
body,html{
    background: rgb(10,51,139);
    background: linear-gradient(180deg, rgba(10,51,139,1) 0%, rgba(10,51,139,1) 50%, rgba(255,255,255,1) 100%);
}

.auth-box{
    height: 280px;
}

.optionProfile {
    position: absolute !important;
    bottom: 40px;
    width: 100%;
    border-top: 1px solid #FFF;
}

.optionLogOut {
    position: absolute!important;
    bottom: 0;
    width: 100%;
}

.logoPersonalizado{
	/* height: 62px!important; */
    width: 128px!important;
}

.contenedorLogo{
    margin-bottom: 20%;
}

.divBtnHome{
    width: 50%;
    height: 50%;
}

#btnOperaciones{
    border: 1px solid #efecec;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin-bottom: 5%;
    background-color: #fff;
}

#btnHistorial{
    border: 1px solid #efecec;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin-bottom: 5%;
    background-color: #fff;
}
#btnCamara{
    border: 1px solid #efecec;
    border-radius: 0px 10px 0px 0px;
}
#iconBtnHistorial{
    border: 1px solid #efecec;
    border: 1px solid #efecec;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    background-color: #fff;
}

#btnPerfil{
    border: 1px solid #efecec;
    border-radius: 0px 0px 10px 0px;
}

.auth-box:before {
    content: none;
}

.auth-box {
    width: 75%;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.fontDescriptionBtn{
    font-size: 13px;
    color: gray;
    margin: 0px 5px 0px 5px;
}


.iconBtnOperaciones{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.iconBtnHistorial{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.tituloBtn{
    margin-top: 15px;
    margin-bottom: 0px;
}
/*Cámara*/

#player{
    margin-bottom: 5px;;
    width: 100%;
}
.camara-contenedor {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border: 5px solid white;
    position: absolute;
    top: 0%;
    height: 100%;
    display: none;
    background: rgb(10,51,139);
    background: linear-gradient(180deg, rgba(10,51,139,1) 0%, rgba(10,51,139,1) 50%, rgba(255,255,255,1) 100%);
}
  
  .camara-contenedor button {
    background-color: #3498db;
    color: white;
  }
  
  #fotoTemp {
    width: 300px;
    height: 300px;
    display: none;
  }
  
  .foto-mensaje {
    width: 150px;
    height: 150px;
  }
  