.backgroundInferior{
    background-color: #fff;
    width: 100%;
    height: 88%;
    float: left;
}

.backgroundSuperior{
    background: rgb(10,51,139);
    background: linear-gradient(90deg, rgba(10,51,139,1) 0%, rgba(66,119,233,1) 75%, rgba(86,133,233,1) 100%);
    width: 100%;
    height: 12%;
    float: left;
}


.btnBackPage{
    width: 10px;
    height: 15px;
    float: left;
    margin-left: 18px;
    margin-top: 8px;
    position: absolute;
    left: 0;
}

.titleSection{
    width: 95%;
}

.infoCaptura{
    padding: 10px 10px 0px 20px;
}


.containerInfoEvidencia{
    display: inline-block;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
    padding: 5px 0px 0px 15px;
}

.titleSectionCapturarEvidencia {
    width: 100%;
    float: left;
    text-align: center;
    padding: 0% 15% 0% 15%;
}

.vertical-align-wrap {
    display: block;
}

.imgDatosCaptura{
    width: 100%;
}

.contenedorImagenDetalleEvidencia{
    width: 100%;
    padding: 0 15% 0px 15%;
    margin-bottom: 15px;
}

.txtObservaciones{
    padding: 0px 20px 0px 20px;
    margin-bottom: 30px;
}

.btnGuardarDetalleEvidencia{
    width: 50%;
    height: 40px;
    display: block;
    float: left;
}

.btnCancelarDetalleEvidencia{
    width: 50%;
    height: 40px;
    display: block;
    float: left;
}

.btnSave{
    float: right;
    margin-right: 10px;
}


.btnCancel{
    float: left;
    margin-left: 10px;
}
/* iphone X */
@media (height: 812px) {

    .backgroundSuperior{
        height: 10%;
    }

    .backgroundInferior{
        height:90%;
    }
}

/* iphone 5/SE */
@media (height: 568px) {

    .backgroundSuperior{
        height: 13%;
    }

    .backgroundInferior{
        height:87%;
    }
}

/* ipad*/
@media (min-height: 1024px) and (min-width: 768px)  {

    .backgroundSuperior{
        height: 10%;
    }

    .backgroundInferior{
        height:90%;
    }

    .imgIconOperaciones {
        width: 8%;
    }
    .detalleInfoDescripcionOperacion {
        width: 87%;
    }
}